@font-face {
    font-family: 'Helvetica Neue Regular';
    src: url('../fonts/helveticaneue-lightcondobl-webfont.eot');
    src: url('../fonts/helveticaneue-lightcondobl-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/helveticaneue-lightcondobl-webfont.woff2') format('woff2'),
         url('../fonts/helveticaneue-lightcondobl-webfont.woff') format('woff'),
         url('../fonts/helveticaneue-lightcondobl-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }
  html{
    height:100%;
  }
body{
    line-height: 36px;
    font-size: 14px;
    font-family: "Helvetica Neue Regular",Tahoma, sans-serif;
background: url(../img/Content.png)no-repeat center top fixed;
background-size: cover;
height: 100%
}
.wrapper{

/*margin:auto;*/
}
header{
  background: url(../img/topline.png) repeat-x;


}
.menu{
  float:right;
}
.menu li{
  float:left;
}
.menu li a{

  color: #66ccff;
  text-decoration: none;
  display: block;
  padding: 0 10px;

}
.menu li a:hover{
  background: #6699cc;
  color:#ffffff;

/*display: block;*/
}

.vline{
  float:right;
}
.vline img{
vertical-align: middle;
}
.rightmenu{
  float:right;

}
.rightmenu li{
  float:left;
  color:#ffffff;
  margin: 0 13px;
}
.rightmenu a{
color:#ffffff;
text-decoration: none;
}
.rightmenu span{
  margin-left: 10px;
  text-align: center;
}
.rightmenu li p span{
  text-decoration: underline;
}
.rightmenu li:last-child{
background: #6699cc;

}
.rightmenu img{
  vertical-align: middle;
}

.headform{
  height: 600px;
  width: 550px;
  margin:auto;
  color:#cccccc;
  position: absolute;
top: 0; left: 0; bottom: 0; right: 0;
  background: rgba(0, 0, 0, 0.6);

}
.formmenu{
  width: 276px;
  margin: 0  auto;
  text-align: inherit;
}
.register{
text-align: center;
  border-bottom: 2px solid #cccccc;
}
.register span{
  line-height: 62px;
  font-size:24px;
  color:#ffffff;
}
.facebook{
  margin-top: 25px;
  margin-bottom: 15px;
  text-align:center;
}
.ou{
  margin-bottom:15px;
  text-align: center;
}
.information input{
  width: 276px;
  height: 35px;
  background: #000000;
  border: 1px solid #000000;
  border-bottom: 1px solid #333333;
  margin-bottom: 13px;
  color:#cccccc;
}
.information input:hover{
  width: 276px;
  height: 35px;
  background: #336699;
  border: 1px solid #6699cc;

  margin-bottom: 13px;
  color:#ffffff;
  -webkit-box-shadow: 0px 0px 6px 0px rgba(51,102,153,1);
-moz-box-shadow: 0px 0px 6px 0px rgba(51,102,153,1);
box-shadow: 0px 0px 6px 0px rgba(51,102,153,1);
}
.createaccount{
  text-align: center;
}
.createaccount input{
  border: 1px solid #6699cc;
  height: 35px;
  width: 150px;
  margin: 10px 0;
  color: #ffffff;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#3399cc+0,6699cc+100 */
  background: #3399cc; /* Old browsers */
  background: -moz-linear-gradient(top,  #3399cc 0%, #6699cc 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#3399cc), color-stop(100%,#6699cc)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  #3399cc 0%,#6699cc 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  #3399cc 0%,#6699cc 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  #3399cc 0%,#6699cc 100%); /* IE10+ */
  background: linear-gradient(to bottom,  #3399cc 0%,#6699cc 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3399cc', endColorstr='#6699cc',GradientType=0 ); /* IE6-9 */
 }
.headform p{
  font-size: 11px;
  line-height: 16px;
  text-align: center;
}
.clearfix:after {
 content:'';
 clear: both;
 display: block;
