body{
	background-color: #EEEEEE;
	font-size: 18px;
	font-weight:lighter;
	line-height: 1.5;
}
#allPage{
	background-color:#FFFFFF;
	width: 454px;   
	padding: 30px 50px; 
	margin: 0 auto; 
	box-shadow: 0.3px 0.3px 4px 0px;
	margin-bottom: 50px;
}
#text{
	margin: 0px 0px 15px 10px;
}
h1{
	text-align: center;
	font-size: 25px;
}
.photo{
	text-align: center;
}
p{
	margin:25px 10px;
}
